#top, #img-grid, #best-seller {
  margin-top: 50px;
}

#bottom, #img-grid, #best-seller {
  margin-bottom: 50px;
}

#transition, #scrollTop .scrollTop, body .scrollTop, body, #img-grid .container .row div a, #p-shoes .btn a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#html ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 1vw;
}

#html ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background-color: #2C2C2C;
  border: 1px solid black;
}

#html ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  color: #E5E5E5;
  background-color: #262626;
}

#html ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #262626;
          box-shadow: inset 0 0 5px #262626;
}

#body, body {
  height: 100vh;
  background-color: #E5E5E5;
  scroll-behavior: smooth;
}

#body a, body a {
  text-decoration: none;
}

#body li, body li {
  list-style: none;
  display: inline;
}

#scrollTop .scrollTop, body .scrollTop {
  z-index: 1;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 3px 5px;
  color: #2C2C2C;
  border-radius: 7px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #2C2C2C;
  color: #262626;
}

#scrollTop .scrollTop:hover, body .scrollTop:hover {
  background-color: #262626;
  color: #ffffff;
}

#scrollTop .scrollTop i, body .scrollTop i {
  margin: 2px;
}

.navbar {
  height: 100px;
  background-color: #2C2C2C;
}

.navbar .container .row {
  text-align: center;
}

.navbar .container .row .logo h3 {
  color: #ffffff;
  font-weight: 100;
}

.navbar .container .row .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .container .row .nav-list a span {
  color: #ffffff;
  font-size: 15px;
}

.navbar .container .row .search form {
  border-bottom: 1px solid #ffffff;
  margin-top: 5px;
}

.navbar .container .row .search form input[type="search"]::-webkit-search-decoration,
.navbar .container .row .search form input[type="search"]::-webkit-search-cancel-button,
.navbar .container .row .search form input[type="search"]::-webkit-search-results-button,
.navbar .container .row .search form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.navbar .container .row .search form i {
  margin-top: 4px;
  padding-bottom: 5px;
  z-index: 1;
  right: inherit;
  position: absolute;
  color: #ffffff;
}

.navbar .container .row .search form input {
  color: #ffffff;
  width: 85%;
  position: relative;
  background-color: #2C2C2C;
  border: none;
  outline: none;
}

.navbar .container .row .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar .container .row .other div {
  margin-left: 20px;
}

.navbar .container .row .other i {
  color: #ffffff;
  font-size: 20px;
}

#img-grid .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#img-grid .container .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 1px grey;
          box-shadow: 0px 0px 10px 1px grey;
  margin: 10px;
  width: 250px;
  height: 450px;
  border-radius: 5px;
}

#img-grid .container .row div img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 250px;
  height: 450px;
}

#img-grid .container .row div a {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #2C2C2C;
}

#img-grid .container .row div a span {
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
}

#img-grid .container .row div a:hover {
  background-color: #262626;
}

#p-shoes .img {
  position: absolute;
}

#p-shoes .img img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#p-shoes .btn {
  position: relative;
  left: 33%;
  padding: 0;
  margin: 0;
  bottom: -280px;
}

#p-shoes .btn a {
  width: 500px;
  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#p-shoes .btn a:hover {
  background-color: #ffffff;
  color: #2C2C2C;
}

#popular {
  margin-top: 28%;
}

#popular .container .header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: underline;
}

#popular .container .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#popular .container .row div .card {
  border: none;
  background: none;
  border-bottom: 1px solid #2C2C2C;
  border-radius: 0;
}

#popular .container .row div .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 250px;
}

#popular .container .row div .card .card-body {
  margin: 0;
  display: block;
}

#popular .container .row div .card .card-body h3 {
  font-size: 15px;
}

#popular .container .row div .card .card-body span {
  font-weight: bold;
}

#popular .container .row div .card .card-body .second-txt {
  font-size: 13px;
}

#popular .container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#popular .container .button button {
  text-decoration: underline;
  border: none;
  background: none;
}

#best-seller {
  background-color: #2C2C2C;
}

#best-seller .container .header {
  color: #ffffff;
  font-size: 25px;
  padding-top: 25px;
  text-decoration: underline;
}

#best-seller .container .row div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#best-seller .container .row div .card {
  margin: 0;
  border: none;
}

#best-seller .container .row div .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 500px;
}

#best-seller .container .row div .card .card-body {
  margin: 0;
  background-color: #3B4D59;
  height: 100px;
}

#best-seller .container .row div .card .card-body h3 {
  color: #ffffff;
  font-weight: 100;
}

#best-seller .container .row div .card .card-body .first-txt {
  margin-top: -55px;
  font-size: 30px;
}

#best-seller .container .row div .card .card-body .second-txt {
  font-size: 15px;
}
/*# sourceMappingURL=import.css.map */