html {
    @extend #html;
}

body {
    @extend #scrollTop;
    @extend #transition;
    @extend #body;
}
    
.navbar-header {
    background-color: $color-first;
    border-bottom: 2px solid $color-second;

    .container {
        .row {
            text-align: center;

            .img-logo {
                padding: 5px 0 5px;

                img {
                    height: 35px;
                }

                span {
                    color: $text-color;
                }
            }
        }
    }
}

.navbar-center {
    background-color: $color-first;

    .container {
        .row {
            .list {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    margin: 0px 10px 0px 10px;

                    span {
                        color: $text-color;
                    }
                }
                .man{
                    span{
                        text-decoration: underline;
                    }
                }
            }

            .search {
                display: flex;
                justify-content: center;
                height: 39px;

                form {
                    margin-top: 12px;
                    border-bottom: 1px solid $color-white;
                    width: 300px;

                    input[type="search"]::-webkit-search-decoration,
                    input[type="search"]::-webkit-search-cancel-button,
                    input[type="search"]::-webkit-search-results-button,
                    input[type="search"]::-webkit-search-results-decoration {
                        display: none;
                    }

                    input {
                        align-items: center;
                        padding-left: 10px;
                        width: 265px;
                        border: none;
                        outline: none;
                        color: $text-color;
                        background: none;
                    }

                    button {
                        border: none;
                        background: none;

                        i {
                            color: $icon-color ;
                        }
                    }
                }
            }

            .other {
                display: flex;
                align-items: center;
                justify-content: end;

                a {
                    margin-right: 20px;
                }

                i {
                    color: $icon-color;
                }

                span {
                    color: $text-color;
                }
            }
        }
    }
}

#img-grid {
    @extend #top;

    .container {
        .row {
            display: flex;
            justify-content: center;

            div {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                position: relative;
                box-shadow: 0px 0px 10px 1px $color-grey;
                margin: 10px;
                width: 250px;
                height: 450px;
                border-radius: 5px;

                img {
                    border-radius: 5px;
                    object-fit: cover;
                    position: absolute;
                    width: 250px;
                    height: 450px;
                }

                a {
                    position: relative;
                    text-align: center;
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    background-color: $color-first;
                    @extend #transition;

                    span {
                        color: $text-color;
                        font-weight: 100;
                        font-size: 15px;
                    }

                    &:hover {
                        // color: $text-color-hover;
                        background-color: $color-second;
                    }
                }
            }
        }
    }
}

#popular-sneaker {
    @extend #top;

    .container {
        .header {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 30px;
            text-decoration: underline;
        }

        .row {

            div {
                display: flex;
                justify-content: space-between;
                justify-content: center;
                margin-bottom: 20px;

                .card {
                    border: none;
                    background: none;
                    border-bottom: 1px solid $color-first;
                    border-radius: 0;
                    border-left: 1px solid $color-first;

                    img {
                        border-top-right-radius: 15px;
                        // width: 500px;
                        object-fit: cover;
                        width: auto;
                        height: 250px;
                    }

                    .card-body {
                        // border-left: 1px solid $color-first;
                        margin: 0;
                        display: block;
                        width: 255px;

                        h3 {
                            font-size: 13px;
                            font-weight: bold;
                        }

                        span {
                            font-weight: bold;
                        }

                        div {
                            margin: 0;
                            margin-top: 40px;
                            justify-content: space-between;

                            a {
                                color: $text-color-dark;
                                text-decoration: underline;
                            }
                        }

                        .second-txt {
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#popular-classic {
    @extend #top;

    .container {
        .header {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 30px;
            text-decoration: underline;
        }

        .row {

            div {
                display: flex;
                justify-content: space-between;
                justify-content: center;
                margin-bottom: 20px;

                .card {
                    border: none;
                    background: none;
                    border-bottom: 1px solid $color-first;
                    border-radius: 0;
                    border-left: 1px solid $color-first;

                    img {
                        // width: 500px;
                        border-top-right-radius: 15px;
                        object-fit: cover;
                        width: auto;
                        height: 250px;
                    }

                    .card-body {
                        // border-left: 1px solid $color-first;
                        margin: 0;
                        display: block;
                        width: 255px;

                        h3 {
                            font-size: 13px;
                            font-weight: bold;
                        }

                        span {
                            font-weight: bold;
                        }

                        div {
                            margin: 0;
                            margin-top: 40px;
                            justify-content: space-between;

                            a {
                                color: $text-color-dark;
                                text-decoration: underline;
                            }
                        }

                        .second-txt {
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#follow-us {
    @extend #bottom;

    .container {
        .row {
            display: block;
            justify-content: center;
            text-align: center;

            .header {
                @extend #bottom;
            }

            .social-medias {
                a {
                    padding: 35px;
                    padding-bottom: 23px;
                    padding-left: 23px;
                    padding-right: 23px;
                    @extend #transition;
                    margin-left: 10px;
                    margin-right: 10px;
                    border: 1px solid $color-first;
                    border-radius: 100px;

                    i {
                        color: $color-first;
                        font-size: 35px;
                    }

                    &:hover {
                        background-color: $color-first;

                        i {
                            color: $icon-color
                        }
                    }
                }
            }
        }
    }
}

.ftr {
    @extend #top;
    padding: 30px;
    background-color: $color-first;

    span {
        font-size: 13px;
        font-weight: 100;
        color: $text-color;
    }


    .left {
        display: flex;
        align-items: center;

        a {
            margin: 0;
            margin: 10px;

            i {
                font-size: 25px;
                color: $icon-color;
            }
        }
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: end;
    }
}