$color-first:#2C2C2C;
$color-second:#3B4D59;
$color-bg:#E5E5E5;

$text-color: #ffffff;

$color-white:#ffffff;
$color-red:#ff0000;
$color-green:#00ff00;
$color-purple:#800080;
$color-yellow:#ffff00;
$color-black:#00000077;
$color-gray: #808080;

