$color-first: #2C2C2C;
$color-second: #262626;
$color-bg: #ffff;
$btn-color: #3B4D59;
$text-color: #ffffff;
$text-color-dark: #2c2c2c;
$icon-color: #ffffff;



$color-grey: grey;
$color-black: black;
$color-white: #ffffff;