$color-first: #2C2C2C;
$color-second: #262626;
$color-bg: #E5E5E5;
$btn-color: #3B4D59;

$color-grey: grey;
$color-black: black;
$color-white: #ffffff;
$text-color: #ffffff;
$icon-color: #ffffff;